body {
    margin:0;
    background:url('background.jpeg') no-repeat center center fixed;
    background-size:cover;
    font-family: Consolas, "Courier New", monospace;
    display:flex;
    color: white;
    justify-content:center;
    align-items:center;
}

.window {
    margin-top: 75px;
    width:90%;
    max-width:900px;
    height:80vh;
    border:1px solid #333;
    border-radius:6px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}

.tabs {
    display: flex;
    align-items: flex-end; 
    height: 32px; 
    background: #1f1f1f;
}

.tab {
    background:#2b2b2b;
    color:#ccc;
    padding:6px 12px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    margin-right:2px;
}

.tab_active {
    background:#0c0c0c;
    color:#cccccc;
    padding:6px 12px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    margin-right:2px;
}

.terminal {
    background:#0c0c0c;
    padding:20px;
    line-height:1.6;
    flex:1;
    overflow-y:auto;
    color:#cccccc;
    font-size:15px;
}

.titlebar {
    background:#1f1f1f;
    color:#ccc;
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:14px;
    height: 30px;

}

.title{
    margin: 6px 0 6px 0;
    color: #3399ff;
}

.controls {
    display:flex;
    height: 100%;
}

.control-btn {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.control-btn:hover {
    background: #444;
}

.control-btn_stop {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.control-btn_stop:hover {
    background: #C42B1C;
}

span{
    color:#00ff00;
}

.terminal::-webkit-scrollbar {
    width: 12px;              
    background-color: #0c0c0c; 
}

.terminal::-webkit-scrollbar-thumb {
    background-color: #555;   
    border-radius: 2px;
    border: 2px solid #0c0c0c;
}

.terminal::-webkit-scrollbar-thumb:hover {
    background-color: #777;   
}

.terminal {
    scrollbar-width: thin;
    scrollbar-color: #555 #0c0c0c;
}